.container {
  display: grid;
  justify-items: center;
  overflow: auto;
}

.wrapper {
  display: grid;
  grid-gap: 2px;
  grid-column-gap: 1.5px;
  grid-auto-flow: column;
  padding: 0px;
  font-size: 9px;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 0;
}

.head {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: min-content;
  grid-row-start: 1;
  margin-top: 0rem;
  margin-bottom: 0rem;
  width: auto; 
}

.items {
  display: grid;
  padding: 0px;
  align-items: stretch;
  text-align: center;
  grid-column-start: 1;
  grid-row-start: 2;
  margin: 0;
  width: 8rem;
}
.h_items {
  top: 2.5rem;
  line-height: 30px;
  font-size: 12px;
  width: 7rem;
  color: black;
  background-color: rgba(128, 128, 128, 0.465);
  height: 2rem;
  border: 2px solid white;
  border-radius: 10px;
  text-align: center;
  padding: 0px;
  grid-row-start: 1;
}
.par {
  display: grid;
  padding: 0px;
  grid-column-start: 2;
  grid-row-start: 2;
  margin: 0;
  width: 1rem;
}
.h_par {
  top: 2.5rem;
  width: 1rem;
  height: 1.8rem;
  color: black;
  background-color: rgba(128, 128, 128, 0.465);
  border: 0px solid white;
  border-radius: 10px;
  padding: 0px;
  font-size: 9px;
  grid-row-start: 1;
  writing-mode: vertical-rl;
}
.opening {
  display: grid;
  padding: 0px;
  text-align: center;
  grid-column-start: 3;
  grid-row-start: 2;
  margin: 0;
  width: 3rem;
}
.h_opening {
  top: 2.5rem;
  width: 1rem;
  color: black;
  background-color: rgba(128, 128, 128, 0.465);
  height: 2rem;
  border: 0.5px solid white;
  border-radius: 10px;
  padding: 0px;
  font-size: 9px;
  grid-row-start: 1;
  writing-mode: vertical-rl;
}

.delivered {
  display: grid;
  padding: 0px;
  text-align: center;
  grid-column-start: 4;
  grid-row-start: 2;
  margin: 0;
  width: 4.5rem;
}
.h_delivered {
  top: 2.5rem;
  width: 1rem;
  color: black;
  background-color: rgba(128, 128, 128, 0.465);
  height: 2.0rem;
  border: 0px solid white;
  border-radius: 10px;
  padding: 0px;
  font-size: 7px;
  grid-row-start: 1;
  writing-mode: vertical-rl;
}
.transfers {
  display: grid;
  padding: 0px;
  text-align: center;
  grid-column-start: 5;
  grid-row-start: 2;
  margin: 0;
  width: 4.5rem;
}
.h_transfers {
  top: 2.5rem;
  width: 1rem;
  color: black;
  background-color: rgba(128, 128, 128, 0.465);
  height: 2rem;
  border: 0px solid white;
  border-radius: 10px;
  padding: 0px;
  font-size: 9px;
  grid-row-start: 1;
  writing-mode: vertical-rl;
}
.wastage {
  display: grid;
  padding: 0px;
  text-align: center;
  grid-column-start: 6;
  grid-row-start: 2;
  margin: 0;
  width: 4.3rem;
}
.h_wastage {
  top: 2.5rem;
  width: 1rem;
  color: black;
  background-color: rgba(128, 128, 128, 0.465);
  height: 2rem;
  border: 0px solid white;
  border-radius: 10px;
  padding: 0px;
  font-size: 7px;
  grid-row-start: 1;
  writing-mode: vertical-rl;
}
.sale {
  display: grid;
  padding: 0px;
  text-align: center;
  grid-column-start: 7;
  grid-row-start: 2;
  margin: 0;
  width: 2.8rem;
}
.h_sale {
  top: 2.5rem;
  width: 1rem;
  color: black;
  background-color: rgba(128, 128, 128, 0.465);
  height: 2rem;
  border: 0px solid white;
  border-radius: 10px;
  padding: 0px;
  font-size: 9px;
  grid-row-start: 1;
  writing-mode: vertical-rl;
}
.closing {
  display: grid;
  padding: 0px;
  text-align: center;
  color: red;
  grid-column-start: 8;
  grid-row-start: 2;
  margin: 0;
  width: 3.5rem;
}
.h_closing {
  top: 2.5rem;
  width: 1rem;
  color: black;
  background-color: rgba(128, 128, 128, 0.465);
  height: 2rem;
  border: 0px solid white;
  border-radius: 10px;
  padding: 0px;
  grid-row-start: 1;
  font-size: 8px;
  writing-mode: vertical-rl;
}
.difference {
  display: grid;
  padding: 0px;
  text-align: center;
  grid-column-start: 9;
  grid-row-start: 2;
  margin: 0;
  color: red;
  width: 2.7rem;
}
.h_difference {
  top: 2.5rem;
  width: 1rem;
  color: black;
  background-color: rgba(128, 128, 128, 0.465);
  height: 2rem;
  border: 0px solid white;
  border-radius: 10px;
  padding: 0px;
  font-size: 9px;
  grid-row-start: 1;
  writing-mode: vertical-rl;
}
.inpute {
  display: grid;
  text-align: center;
  grid-column-start: 10;
  padding: 8px;
  grid-row-start: 2;
  margin-top: 0rem;
  margin-bottom: 0rem;
  grid-row-gap: 0.05rem;
}
.h_inpute {
  line-height: 35px;
  font-size: 11px;
  top: 2.5rem;
  margin-bottom: 0.7rem;
  width: 3rem;
  color: black;
  background-color: rgba(128, 128, 128, 0.465);
  height: 2.1rem;
  border: 0px solid white;
  border-radius: 10px;
  padding: 0px;
  grid-row-start: 1;
 
}

.spacer {
  flex: 1;
}

.comments {
  display: grid;
  padding: 5px;
  text-align: center;
  grid-column-start: 11;
  grid-row-start: 2;
  margin: 0;
}
.submitstyle {
  display: grid;
  padding: 15px;
  text-align: center;
  grid-column-start: 12;
  grid-row-start: 2;
  margin: 0;
}
.acceptALLreq {
  display: grid;
  padding: 15px;
  text-align: center;
  grid-column-start: 7;
  grid-row-start: 7;
  margin: 0;
}
.rowstyle {
  display: grid;
  margin-top: 0.28rem;
  margin-bottom: 0.1rem;
  border-radius: 8px;
  border: 1.2px solid rgb(244, 244, 244);
  text-align: right;
  background-color: rgb(248, 248, 248);
}

.home {
  display: grid;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.print {
  justify-content: left;
  grid-column-start: 13;
  grid-row-start: 1;
  margin: 0;
}

/* https://getbootstrap.com/docs/4.0/content/tables/  
 https://itnext.io/building-a-dynamic-controlled-form-in-react-together-794a44ee552c
 */

/* height: 400px; */
/* grid-row-gap: 10em; */
/* grid-column-gap: 1em; */
/* justify-content: center; */
/* justify-content: space-around; */
/* align-content: space-evenly; */
/* grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto; */
/* justify-content: space-evenly; */
